PORT=3000
MONGODB_URI=mongodb://localhost:27017/auth_db
JWT_SECRET=f14e6a1c9843c52190c07232dfb9c0e467d5a910
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10
ADMIN_NAME=Admin
ADMIN_LAST_NAME=Principal
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123*
ADMIN_PHONE_NUMBER=999999999
ADMIN_BIRTHDATE=1990-01-01
ADMIN_URL_PROFILE=
ADMIN_ADRESS=Av. Principal 123
